<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
<body>
  <h2>회원가입</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="ID">아이디</input></br>
    <input type="password" name="password" placeholder="PASSWORD">비밀번호</input></br>
    <input type="text" name="phone" placeholder="PHONENUMBER">핸드폰번호</input></br>
    <input type="text" name="address" placeholder="ADDRESS">주소</input></br>
    <button type="submit">회원가입</button>
  </form>
</body>
</html>
